acdh-django-charts==0.4.1
Django==2.2.13
django-autocomplete-light==3.3.2
django-crispy-forms==1.7.2
django-extensions==2.1.3
django-filter==2.0.0
django-reversion==3.0.0
django-shibboleth-remoteuser==0.12
django-tables2==2.0.1
djangorestframework==3.11.2
jupyter==1.0.0
mysqlclient>=2.0.3
notebook==6.1.5
pandas==1.2.3
requests>=2.20.0
SPARQLWrapper>=1.8.2
xlrd==1.1.0
