acdh-django-browsing>=0.2.1
beautifulsoup4==4.9.3
Django==3.2.13
django-reversion>=3.0.9
django-shibboleth-remoteuser==0.12
djangorestframework==3.12.4
html5lib==1.1
mysqlclient>=2.0.3
SPARQLWrapper>=1.8.5
xlrd==2.0.1
tablib==3.0.0
wheel==0.36.2
django-extensions==3.1.3