{% extends "webpage/base.html" %}
{% load webpage_extras %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header procustom-panel-heading">
            <div class="row">
                <div class="col-md-2">
                    {% if object.get_prev %}
                        <h2>
                            <a href="{% url 'assignments:textversion_detail' pk=object.get_prev %}">
                                <i class="fas fa-chevron-left" title="previous"></i>
                            </a>
                        </h2>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <h1 style="text-align: center;">
                        <a href="{{ object.get_listview_url }}"><small>Text Version:</small></a> {{ object }}
                        {% if user.is_authenticated %}
                            <small>
                                <a href="{% url 'assignments:textversion_edit' pk=object.id %}">
                                    <i class="far fa-edit" title="edit"></i>
                                </a>
                            </small>
                            |
                            <small>
                                <a href="{% url 'assignments:textversion_delete' pk=object.id %}">
                                    <i class="far fa-trash-alt" title="delete"></i>
                                </a>
                            </small>
                        {% endif %}
                    </h1>
                </div>
            <div class="col-md-2">
                <h2>
                    {% if object.get_next %}
                    <a href="{% url 'assignments:textversion_detail' pk=object.get_next %}" style="float:right">
                        <i class="fas fa-chevron-right" title="next"></i>
                    </a>
                </h2>
                {% endif %}
            </div>
        </div>
    </div>
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="home-tab" data-toggle="tab" href="#htmltext" role="tab" aria-controls="htmltext" aria-selected="false">Text</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="markup-tab" data-toggle="tab" href="#markup" role="tab" aria-controls="markup" aria-selected="false">Markup</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link show active" id="aboutthetext-tab" data-toggle="tab" href="#aboutthetext" role="tab" aria-controls="aboutthetext" aria-selected="true">About the Text</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="participant-tab" data-toggle="tab" href="#participant" role="tab" aria-controls="participant" aria-selected="false">Participiant/Learner</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link" id="assignment-tab" data-toggle="tab" href="#assignment" role="tab" aria-controls="assignment" aria-selected="false">Assignment</a>
                  </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="htmltext" role="tabpanel" aria-labelledby="htmltext-tab">
                    <div class="card-body">
                        {{ object.content|safe }}
                    </div>
                </div>
                <div class="tab-pane fade" id="markup" role="tabpanel" aria-labelledby="markup-tab">
                    <div class="card-body">
                        <code>
                            {{ object.content }}
                        </code>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="aboutthetext" role="tabpanel" aria-labelledby="aboutthetext-tab">
                    <div class="card-body">
                        {% for x in object.text_id.all %}
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>ID</th>
                                <td>{{ x.id }}</td>
                            </tr>
                            <tr>
                                <th>Text Type</th>
                                <td>{{ x.text_type }}</td>
                            </tr>
                            <!-- <tr>
                                <th>Profile(s) signed?</th>
                                <td>{{ x.availability }}</td>
                            </tr> -->
                            <!-- <tr>
                                <th>Year the text was produced</th>
                                <td>{{ x.year }}</td>
                            </tr> -->
                            <!-- <tr>
                                <th>Semester</th>
                                <td>{{ x.semester }}</td>
                            </tr> -->
                            <!-- <tr>
                                <th>Language the text is written/spoken in</th>
                                <td>{{ x.lang }}</td>
                            </tr> -->
                            <tr>
                                <th>Medium: spoken, written, <abbr title="computer mediated communication">CMC</abbr></th>
                                <td>{{ x.medium }}</td>
                            </tr>
                            <tr>
                                <th><abbr title="Type of samples (cf. Ellis & Barkhuizen): naturally occurring, clinically elicited, experimentally elicited"">Type of samples</abbr></th>
                                <td>{{ x.data_type }}</td>
                            </tr>
                            <tr>
                                <th>recording</th>
                                <td>{{ x.recording }}</td>
                            </tr>
                            <tr>
                                <th>Recording method used (audio/video)</th>
                                <td>{{ x.recoding_method }}</td>
                            </tr>
                            <tr>
                                <th>Mode of writing <small>argumentative, descriptive, expository, narrative; other)</small></th>
                                <td>{{ x.mode }}</td>
                            </tr>
                            <tr>
                                <th>Produced in a CLIL context <small>E.g. a recording of a biology course taught in English)</small></th>
                                <td>{{ x.clil_text }}</td>
                            </tr>
                            <tr>
                                <th>Subject taught through CLIL</th>
                                <td>{{ x.clil_subject }}</td>
                            </tr>
                            <tr>
                                <th>Produced in a timed context?</th>
                                <td>{{ x.timed }}</td>
                            </tr>
                            <tr>
                                <th>Produced in an exam?</th>
                                <td>{{ x.exam }}</td>
                            </tr>
                            <tr>
                                <th>Grade, if available <small>scale 1-5, convert different grading schemes</small></th>
                                <td>{{ x.grade }}</td>
                            </tr>
                            <tr>
                                <th>Were tools used?</th>
                                <td>{{ x.tool }}</td>
                            </tr>
                            <tr>
                                <th>Text title</th>
                                <td>{{ x.title }}</td>
                            </tr>
                            <tr>
                                <th>Text source <small>handwritten / born digital / recording_audio / recording_video</small></th>
                                <td>{{ x.source }}</td>
                            </tr>
                        </table>
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="participant" role="tabpanel" aria-labelledby="participant-tab">
                    <div class="card-body">
                        {% for x in object.text_id.all %}
                        {% with parti=x.participant_id %}
                        {% with learner=x.participant_id.learner_id %}
                        <legend>Learner ID {{ learner.id }}</legend>
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Learner's year of birth</th>
                                <td>{{ learner.year_of_birth }}</td>
                            </tr>
                            <tr>
                                <th>Learner's gender</th>
                                <td>{{ learner.gender }}</td>
                            </tr>
                            <tr>
                                <th>Languages</th>
                                <td>
                                    <small>Learner's mother tongue: </small>{{ learner.lang_l}}<br />
                                    <small>Mother's L1: </small>{{ learner.lang_mother}}<br />
                                    <small>Father's L1: </small>{{ learner.lang_father}}<br />
                                    <small>second language: </small>{{ learner.lang_second}}<br />
                                    <small>third language: </small>{{ learner.lang_third}}<br />
                                </td>
                            </tr>

                        </table>
                        <legend>Profils</legend>
                        {% for pr in learner.has_learner_profile.all %}
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Year when the profile was filled in</th>
                                <td>{{ pr.year }}</td>
                            </tr>
                            <tr>
                                <th>
                                    description of language use at home <small>if more than one language is spoken, provide the % of use of each language; format: Bosnian: 50% Slovenian: 50%</small>
                                </th>
                                <td>{{ pr.lang_spoken_home }}</td>
                            </tr>
                            <th>Languages</th>
                            <td>
                                <small>Language of instruction in primary school: </small>{{ pr.lang_instruction_primary }}<br />
                                <small>Language of instruction in secondary school: </small>{{ pr.lang_instruction_secondary }}<br />
                            </td>
                        </table>
                        {% endfor %}

                        <legend>Participant</legend>
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Institution ID</th>
                                <td>{{ parti.institution_id }}</td>
                            </tr>
                            <tr>
                                <th>Level' of the educational institution currently attended <br /><small>primary(PR); lower_secondary(LS); upper_secondary(US); <br />tertiary_university(TU); tertiary_college(TC); further_education(FE)</small></th>
                                <td>{{ parti.institution_level }}</td>
                            </tr>
                            <tr>
                                <th>Is this a CLIL-participant</th>
                                <td>{{ parti.clil }}</td>
                            </tr>
                        </table>
                        {% endwith %}
                        {% endwith %}
                        {% endfor %}
                    </div>
                </div>
                <div class="tab-pane fade" id="assignment" role="tabpanel" aria-labelledby="assignment-tab">
                    <div class="card-body">
                        {% for x in object.text_id.all %}
                        {% with assign=x.assignment_id %}
                        <legend>Assignment ID {{ assign.id }}</legend>
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Title of Assignment</th>
                                <td>{{ assign.title }}</td>
                            </tr>
                            <tr>
                                <th>Description of Assignment</th>
                                <td>{{ assign.description }}</td>
                            </tr>
                        </table>
                        {% endwith %}
                        {% endfor %}
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}
