{% extends "webpage/base.html" %}
{% load staticfiles %}
{% load webpage_extras %}
{% block title %} Terms of Use {% endblock %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Terms of Use</h1>
        </div>
        <div class="card-body">
            <div>
                <ol>
                    <li>
                        The corpora drawn from DELT are EXCLUSIVELY available to be used for non-commercial research and educational purposes.
                    </li>
                    <li>
                        DELT is available free of charge to researchers and students adhering to the conditions of use
                    </li>
                    <li>
                        All publications on research partly or wholly based on the corpus should acknowledge the source of data as follows:
                        <blockquote class="blockquote">
                            <p class="mb-0">Database of English Learner Texts (DELT). 2007-. Compiled by the Centre for English Language Teaching. https://delt.acdh.oeaw.ac.at
                                Users are encouraged to inform the CELT when they have published or presented work based on/referring to DELT (mailto: celt@univie.ac.at))</p>
                        </blockquote>
                    </li>
                    <li>
                        No part of the corpus is to be distributed to a third party without specific and written authorization from CELT.
                    </li>
                    <li>
                        The corpus can only be used by the registered user and researchers working in close collaboration with him/her or students under his/her supervision, attached to the same institution
                    </li>
                    <li>
                        Under no circumstances, including, but not limited to, negligence, shall the creators of DELT or the University be liable for any special or consequential damages that result from the use of or the inability to use the DELT
                        files.
                    </li>
                </ol>
                <div>
                    <h3>Personal Data Processed</h3>

                    <p>In case you login to the service via Federated Login (Shibboleth), following personal data is processed:</p>

                    <ul>
                        <li>Data requested as required from user’s home organisation:
                            <ul>
                                <li>SAML persistent identifier (attribute: eduPersonTargetedID) - unique ID to identify the user</li>
                            </ul>
                        </li>
                        <li>Data requested (optional) from user’s home organisation:
                            <ul>
                                <li>alternative identifier (attribute: eduPersonPrincipalName)</li>
                                <li>user’s name (attributes: displayName, sn, givenName)</li>
                                <li>user’s email (attribute: mail)</li>
                                <li>user’s affiliation within the home institution (attribute: eduPersonScopedAffiliation)</li>
                            </ul>
                        </li>
                        <li>Data is gathered from the user:
                            <ul>
                                <li>in case the home organisation does not provide some of the requested attributes, the user might be requested to provide the missing information in order to use certain functionality, or otherwise this
                                    functionality may not be available to the user.</li>
                                <li>in case user makes use of personalization functionality (e.g. store personalized workspace settings)</li>
                                <li>in case the user is contributor to the resources (work in a collaborative environment) all the changes are tracked</li>
                            </ul>
                        </li>
                        <li>General network traffic data (like IP address or referrer) is logged and is used in anonymized usage statistics.</li>
                    </ul>
                    <h3>Purpose of the Processing of Personal Data</h3>

                    <p>The unique user identifier is needed to recognize the user over sessions, to be able to associate user-related information (customisation, authorisation settings, user-generated content). The identification of the user as well
                        as the affiliation information serves as a means to determine the authorization to access protected resources (which may be granted to certain groups, like members of an institute or partners in a project).</p>

                    <p>Attributes concerning user's name are used in communication with the user (via e-mail and on the website) and for marking user's contribution. If the requested attributes are obtained, they are used by default, the user still
                        has the possibility to change the display name.</p>

                    <p>The user's affiliation can be used for managing access to resources (authorisation), e.g. if access to a resource is granted to members of an institute. If no information about affiliation is available, user-based
                        authorisation is used.</p>

                    <p>Providing an email address allows the user to be notified of news, or activity on the platform, especially changes by other members of a team working on common resource collection. This is not a critical functionality, thus
                        the email attribute is optional. ACDH may use the user’s personal information to contact the user with newsletters and other information regarding the services of DELT</p>

                    <p>General network traffic data is logged to generate anonymised statistics about the use of our resources, for which Matomo (see respective section) is used.</p>

                    <h3>Cookies</h3>

                    <p>Cookies are files with small amount of harmless data, which may include an anonymous unique identifier. Cookies are sent to the user’s browser from a web site and stored on the user’s hard drive.</p>

                    <p>Like many sites, ACDH uses cookies. Cookies that collect information do this solely for the purpose of improving DELT’s services and enhance user experience. The user can instruct his browser to refuse all cookies or to
                        indicate when a cookie is being sent. However, if the user does not accept cookies, he may not be able to use some portions of DELT’s services.</p>

                    <p>DELT uses both session and persistent cookies to enable certain functions of DELT’s service, to provide analytics and to store user preferences. Cookies are not used for advertising purposes.</p>

                    <h3 id="privacy-piwik">Matomo</h3>

                    <p>Like most website operators, DELT collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date
                        and time of each visitor request. For this purpose an own instance of Matomo (former Piwik) is used.</p>

                    <p>DELT’s purpose in collecting non-personally identifying information is to better understand how DELT’s visitors use its website and services. DELT may release non-personally-identifying information in the aggregate, e.g. by
                        publishing a report on trends in the usage of its website, to reveal how many downloads a particular resource got or to say which resources are most popular.</p>

                    <p>DELT also collects potentially personally-identifying information like Internet Protocol (IP) addresses. DELT does not use such information to identify its visitors, however, and does not disclose such information, other than
                        under the same circumstances that it uses and discloses personally-identifying information, as described above.</p>

                    <h3>Third Parties to whom Personal Data is Disclosed</h3>

                    <p>No personal data will be disclosed to third parties.</p>

                    <h3>Security</h3>

                    <p>The security of personal information is important to ACDH, but no method of transmission over the Internet, or method of electronic storage, is 100% secure. While ACDH strives to use commercially acceptable means to protect
                        personal information, it cannot guarantee its absolute security.</p>

                    <h3>How to Access, Rectify and Delete the Personal Data</h3>

                    <p>If you need to access, rectify and/or delete any personal data we store about you or which you provided to us please contact us. Contact details can be found in Data Controller and Contact Person.</p>

                    <h3>Changes to this Privacy Policy</h3>

                    <p>This Privacy Policy is effective as of September 2017 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.</p>

                    <p>ACDH reserves the right to update or change its Privacy Policy at any time and the user should check this Privacy Policy periodically. The user’s continued use of the Service after any modifications are posted to the Privacy
                        Policy on this page will constitute the user’s acknowledgment of the modifications and consent to abide and be bound by the modified Privacy Policy.</p>

                    <p>If ACDH makes any material changes to this Privacy Policy, it will notify the user either through the e-mail address provided, or by placing a prominent notice on DELT’s website.</p>
                    <h3>Data Protection Code of Conduct</h3>
                    <p>
                        User’s personal data will be protected according to the <a href="https://geant3plus.archive.geant.net/uri/dataprotection-code-of-conduct/v1/Pages/default.aspx">Code of Conduct for Service Providers</a>, a common standard for
                        the research and higher education sector to protect user privacy.
                    </p>
                    <h3>Data Controller and Contact Person</h3>

                    <p>DELT<br />
                        University of Vienna<br />
                        Faculty of Philological and Cultural Studies<br />
                        Department of English and American Studies<br />
                        Campus der Universität Wien, Hof 8.3<br />
                        Spitalgasse 2-4<br />
                        1090 Wien<br />
                        Austria<br />
                        T: +43-1-4277-42401<br />
                        anglistik@univie.ac.at<br />

                    <h3>Jurisdiction</h3>

                    <p>The provisions of Austrian law apply to this agreement. Place of jurisdiction is Vienna.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
